
@model IEnumerable<DroneWorks.Models.Products>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>Dr⚙ne St⚙re</center>
<p>

</p>

<p>
    <a asp-action="SortView">Sort</a>
</p>
<p>
    <a asp-action="Search">Search</a>
</p>
<p>
    <a asp-action="FilterView">Filter</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Product
                @*@Html.DisplayNameFor(model => model.ProdName)*@
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.ProdDescribe)
                </th>*@
            <th>
                Price
                @*@Html.DisplayNameFor(model => model.ProdPrice)*@
            </th>
            <th>
                <center>Image</center>
                @*@Html.DisplayNameFor(model => model.ImageName)*@
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.TotalStock)
                </th>*@
            <th>
                Category
                @Html.DisplayNameFor(model => model.CatFkNavigation.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProdName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ProdDescribe)
                    </td>*@
                <td>
                    $ @Html.DisplayFor(modelItem => item.ProdPrice)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.ImageName)*@
                    <img src="~/Images/@item.ImageName" alt="Picture Not Available" width="80%" />
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.TotalStock)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.CatFkNavigation.Type)
                </td>
                <td>
                   
                    <a asp-action="Details" asp-route-id="@item.ProdPk">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>


